<app-header-inicial></app-header-inicial>


<div class="container mt-5 mb-5 ">
  <div class="row">
    <div class="col-12 col-md-6 order-md-last"> <!-- In mobile, show second (image) first -->
      <img src="assets/images/image-init.svg" alt="init image" class="img-fluid">
    </div>
    <div class="col-12 col-md-6 order-md-first"> <!-- In mobile, show first (text) second -->
      <h2 class="fs-1 fw-bold">
        Tu mejor año con la mejor gente
      </h2>

      <div class="paragraphs">
        <p>
          ¿Estás buscando un plan fantástico?<br>
          <strong> Tenemos algunas opciones especiales para ti.</strong>
        </p>

        <p>
          ¿Te gusta la increíble oferta especial?<br>
          <strong>Tenemos una oferta especial para ti.</strong>
        </p>

        <p>
          ¿Estás buscando casa/habitación? <br>
          <strong>Tenemos algunos artículos especiales para ti.</strong>
        </p>
      </div>
    </div>
  </div>
</div>

<app-footer-inicial></app-footer-inicial>
